#root {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.main {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  margin-top: 8rem;
}

.home .route-button {
  width: 200px;
  height: 300px;
  box-shadow: 0px 5px 10px gray;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
